<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgre -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck >
    <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatabs -->
<!--
    <link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css" rel="stylesheet">
-->
<!--<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css" rel="stylesheet" type="text/css">-->
<!--<link href="../new/jquery-datatables-1.10.19/jquery.dataTables.css" rel="stylesheet" type="text/css">-->
<!-- <link href="../new/Datatables/dataTables.min.css" rel="stylesheet" type="text/css"> -->

<link rel="stylesheet" type="text/css" href="../new/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../new/DataTables/Buttons-1.5.4/css/buttons.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../new/DataTables/FixedColumns-3.2.5/css/fixedColumns.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../new/DataTables/FixedHeader-3.1.4/css/fixedHeader.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../new/DataTables/Responsive-2.2.2/css/responsive.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../new/DataTables/Select-1.2.6/css/select.bootstrap.min.css"/>

<!-- <link rel="stylesheet" type="text/css" href="../new/DataTables/DataTables-1.10.18/css/dataTables.jqueryui.min.css"/> -->
 



    <link rel="stylesheet" href="/vendors/jquery-ui-1.12.1/jquery-ui.css">
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker -->
<!--    <link href="../vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">-->

<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet"/>-->
<link href="../new/bootstrap-datepicker-1.8.0/bootstrap-datepicker.css" rel="stylesheet"/>
   

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
    <link href="/build/css/loading.css" rel="stylesheet">
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">-->
    <!-- <link href="/build/css/dropdown.css" rel="stylesheet"> -->
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
