<div class="profile clearfix">
  <div class="profile_pic">
    <img src="images/company.png" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <span>Welcome,</span>
    <h2>ABC Company</h2>
  </div>
</div>