 <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <script src="../vendors/jquery-ui-1.12.1/jquery-ui.min.js"></script>

    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
<!--
    <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

    <script src="../vendors/jszip/dist/jszip.min.js"></script>
    <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
-->
<!--    <script src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>-->
<!--<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js" type="text/javascript"></script>-->
<!--<script src="../new/jquery-datatables-1.10.19/jquery.dataTables.js" type="text/javascript"></script>-->


<!-- <script src="../new/DataTables/datatables.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../new/DataTables/Select-1.2.6/js/dataTables.select.min.js"></script> -->

<script type="text/javascript" src="../new/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="../new/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="../new/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../new/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="../new/DataTables/DataTables-1.10.18/js/dataTables.jqueryui.min.js"></script> -->
<script type="text/javascript" src="../new/DataTables/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="../new/DataTables/Buttons-1.5.4/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="../new/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="../new/DataTables/Buttons-1.5.4/js/buttons.print.min.js"></script>
<script type="text/javascript" src="../new/DataTables/FixedColumns-3.2.5/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="../new/DataTables/FixedHeader-3.1.4/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="../new/DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="../new/DataTables/Responsive-2.2.2/js/responsive.bootstrap.min.js"></script>
<script type="text/javascript" src="../new/DataTables/Select-1.2.6/js/dataTables.select.min.js"></script>

<!-- <script type="text/javascript" src="../new/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script> -->

  
<!-- bootstrap-datetimepicker -->
<!--<script src="../vendors/moment/min/moment.min.js"></script>-->
<!--
<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>-->
<script src="../new/bootstrap-datepicker-1.8.0/bootstrap-datepicker.js"></script>

  <!-- Custom Theme Scripts -->
<script src="../build/js/custom.js"></script>
<script src="../build/js/my_custom.js"></script>

