<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">


        <li role="presentation" class="dropdown">

          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">


            <li>

            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
