<!DOCTYPE html>
<html>
<head>
	<title>Ledger</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
			/* The side navigation menu */
	.sidenav {
	  height: 100%; /* 100% Full-height */
	  width: 0; /* 0 width - change this with JavaScript */
	  position: fixed; /* Stay in place */
	  z-index: 1; /* Stay on top */
	  top: 0; /* Stay at the top */
	  left: 0;
	  background-color: #111; /* Black*/
	  overflow-x: hidden; /* Disable horizontal scroll */
	  padding-top: 60px; /* Place content 60px from the top */
	  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	}

	/* The navigation menu links */
	.sidenav a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  font-size: 25px;
	  color: #818181;
	  display: block;
	  transition: 0.3s;
	}

	/* When you mouse over the navigation links, change their color */
	.sidenav a:hover {
	  color: #f1f1f1;
	}

	/* Position and style the close button (top right corner) */
	.sidenav .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  margin-left: 50px;
	}

	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#main {
	  transition: margin-left .5s;
	  padding: 20px;
	  background-color: #eceab63d;
	}

	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	@media screen and (max-height: 450px) {
	  .sidenav {padding-top: 15px;}
	  .sidenav a {font-size: 18px;}
	}


	</style>
</head>
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()">&equiv;</span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
	<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Office</th>
                <th width="18%">Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
    </table>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script type="text/javascript">
    	var editor; // use a global for the submit and return data rendering in the examples
 
		$(document).ready(function() {
		    editor = new $.fn.dataTable.Editor( {
		        ajax: "../php/staff.php",
		        table: "#example",
		        fields: [ {
		                label: "First name:",
		                name: "first_name"
		            }, {
		                label: "Last name:",
		                name: "last_name"
		            }, {
		                label: "Position:",
		                name: "position"
		            }, {
		                label: "Office:",
		                name: "office"
		            }, {
		                label: "Extension:",
		                name: "extn"
		            }, {
		                label: "Start date:",
		                name: "start_date",
		                type: "datetime"
		            }, {
		                label: "Salary:",
		                name: "salary"
		            }
		        ]
		    } );
		 
		    // Activate an inline edit on click of a table cell
		    $('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
		        editor.inline( this );
		    } );
		 
		    $('#example').DataTable( {
		        dom: "Bfrtip",
		        ajax: "../php/staff.php",
		        order: [[ 1, 'asc' ]],
		        columns: [
		            {
		                data: null,
		                defaultContent: '',
		                className: 'select-checkbox',
		                orderable: false
		            },
		            { data: "first_name" },
		            { data: "last_name" },
		            { data: "position" },
		            { data: "office" },
		            { data: "start_date" },
		            { data: "salary", render: $.fn.dataTable.render.number( ',', '.', 0, '$' ) }
		        ],
		        select: {
		            style:    'os',
		            selector: 'td:first-child'
		        },
		        buttons: [
		            { extend: "create", editor: editor },
		            { extend: "edit",   editor: editor },
		            { extend: "remove", editor: editor }
		        ]
		    } );
		} );
    </script>

    <script type="text/javascript">
    	/* Set the width of the side navigation to 250px */
		function openNav() {
		  document.getElementById("mySidenav").style.width = "250px";
		}

		/* Set the width of the side navigation to 0 */
		function closeNav() {
		  document.getElementById("mySidenav").style.width = "0";
		}

		/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
		function openNav() {
		  document.getElementById("mySidenav").style.width = "250px";
		  document.getElementById("main").style.marginLeft = "250px";
		}

		/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
		function closeNav() {
		  document.getElementById("mySidenav").style.width = "0";
		  document.getElementById("main").style.marginLeft = "0";
		}

    </script>

</body>
</html>