<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ultimate</title>
  <% include ../partials/head %>

  <style>
    @media screen and (max-width:400px) {
      .abc {
        /* width: 100%; */
        margin: 0 auto;
      }
    }

    @media screen and (min-width:401px) {
      .abc {
        /* width: 380px; */
        margin: 0 auto;
      }
    }

    .frm-btn {
      width: 100px;
    }

    @media screen and (max-width: 500px) {
      .dataTables_filter {
        float: left;
      }
    }

    @media screen and (min-width: 501px) {
      .dataTables_filter {
        float: right;
      }
    }
  </style>


</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Home</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <% include ../partials/menuprofile %>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <% include ../partials/fixed_sidebar %>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <% include ../partials/sidebar_footer %>

          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <% include ../partials/top_navigation %>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Product</h3>
          </div>

          <!-- <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div> -->
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Add Product</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <section class="content register">
                  <form>
                    <div class="abc">
                      <div class="form-group">
                        <label for="">Name:</label>
                        <input type="text" class="form-control" id="inp_name">
                      </div>
                      <div class="form-group">
                        <label for="">Unit:</label>
                        <input type="text" class="form-control" id="inp_unit">
                      </div>
                      <div class="form-group">
                        <label for="">Quantity:</label>
                        <input type="text" class="form-control" id="inp_quantity">
                      </div>
                      <div class="form-group">
                        <label for="">Price:</label>
                        <input type="text" class="form-control" id="inp_rate">
                      </div>

                      <div style="width: 70%; margin: 0 auto">
                        <div class="" style="float:left; width:50%; overflow:hidden; text-align: center;">
                          <button type="button" class="btn btn-primary frm-btn" id="btn-clear">Clear</button>
                        </div>
                        <div class="" style="float:left; width:50%; overflow:hidden; text-align: center; ">
                          <button type="button" class="btn btn-success frm-btn" id="btn-add">Add</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </section>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>View Product</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="container">
                  <table id="datatable" class="table"></table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <% include ../partials/footer %>

      </footer>
      <!-- /footer content -->
    </div>
  </div>



  <% include ../partials/scripts %>
  <script src="../build/js/product.js"></script>


</body>

</html>