<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ultimate</title>
  <% include ../partials/head %>


</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Home</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <% include ../partials/menuprofile %>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <% include ../partials/fixed_sidebar %>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <% include ../partials/sidebar_footer %>

          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <% include ../partials/top_navigation %>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Voucher</h3>
          </div>

          <!-- <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div> -->
        </div>

        <div class="clearfix"></div>
        <div class="loading" id="loading_div"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Sell Voucher</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                        class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <section class="content invoice">
                  <!-- title row -->
                  <div class="row">
                    <div class="col-xs-12 col-lg-4">
                      <div class="form-horizontal">
                        <div class="form-group">
                          <label for="inp-party-name" class="control-label col-md-5">Party Name</label>
                          <div class="col-md-7">
                            <input type="text" list="party-names" id="inp-party-name">
                          </div>
                          <datalist id="party-names">
                          </datalist>
                        </div>
                        <div class="form-group">
                          <label for="balance" class="control-label col-md-5">Current Balance</label>
                          <div class="col-md-7">
                            <input type="text" id="balance" readonly="readonly" required=true>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pull-right">
                      <!-- <small class="pull-right"> -->
                      <fieldset>
                        <!-- <div class="control-group"> -->
                        <!-- <div class="controls"> -->
                        <div class="col-md-11 form-group" id="calendar1">
                          <input type="text" class="form-control has-feedback-left" id="calender" placeholder="Date"
                            aria-describedby="inputSuccess2Status3" data-date-format="yyyy-mm-dd">
                          <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                          <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                        </div>
                        <!-- </div> -->
                        <!-- </div> -->
                      </fieldset>
                      <!-- </small> -->
                    </div>
                    <!-- /.col -->
                  </div>

                  <div>
                    <form class="modal fade" data-keyboard="false" data-backdrop="static" id="e_modal">
                      <div class="modal-dialog modal-">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            <h4 class="modal-title" id="modal-head-text">
                              <!-- <span class="glyphicon glyphicon-pencil"></span> -->
                              Add row
                            </h4>
                          </div>

                          <div class="modal-body">
                            <div style="margin: auto 10% auto 10%">
                              <div class="form-group">
                                <div class="row">
                                  <!-- <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div> -->
                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><label>Item name</label></div>
                                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <input list="items" type="text" style="width:100%" id="inp-name">
                                    <datalist id="items"></datalist>
                                  </div>
                                  <!-- <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>-->
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  <!-- <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div> -->
                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><label>Quantity</label></div>
                                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <input type="text" id="inp-quantity" style="width:100%">
                                  </div>
                                  <!-- <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div> -->

                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  <!-- <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div> -->
                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><label>Rate</label></div>
                                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <input type="text" id="inp-rate" style="width:100%">
                                  </div>
                                  <!-- <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div> -->

                                </div>
                              </div>

                              <div class="form-group">
                                <div class="row">
                                  <!-- <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div> -->
                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><label>Amount</label></div>
                                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <input type="text" id="inp-amount" style="width:100%" readonly="readonly">
                                  </div>
                                  <!-- <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div> -->
                                </div>
                              </div>
                              <label id="inp-id" , hidden="hidden"></label>
                            </div>

                          </div>
                          <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
                            <div class="btn-group" id="btns-add">
                              <button type="button" class="btn btn-success" id="btn-add-clr">Add & Clear</button>
                              <button type="button" class="btn btn-primary" id="btn-add-cls">Add & Close</button>
                            </div>
                            <div class="btn-group" id="btns-modify">
                              <button class="btn btn-success" id="btn-mod">Save Changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="row">
                    <div>
                      <table id="datatable" class="table table-striped table-bordered dt-responsive">
                        <tfoot>
                          <tr>
                            <th colspan="4" style="text-align:right">Total:</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="pull-right">
                      <button class="btn btn-success frm-btn" id="btn-save">Save</button>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <% include ../partials/footer %>

      </footer>
      <!-- /footer content -->
    </div>
  </div>



  <% include ../partials/scripts %>

  <!-- Custom Theme Scripts -->
  <script src="../build/js/pur-sel.js"></script>

</body>

</html>