<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ultimate</title>
  <% include ../partials/head %>


</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Home</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <% include ../partials/menuprofile %>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <% include ../partials/fixed_sidebar %>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <% include ../partials/sidebar_footer %>

          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <% include ../partials/top_navigation %>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Voucher</h3>
          </div>

          <!-- <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div> -->
        </div>

        <div class="clearfix"></div>
        <div class="loading" id="loading_div"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Receipt Voucher</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                        class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <section class="content invoice">
                  <!-- title row -->
                  <div class="row">

                    <div class="" style="width:100px;margin:0 auto">
                      <!-- <small class="pull-right"> -->
                      <fieldset>
                        <!-- <div class="control-group"> -->
                        <!-- <div class="controls"> -->
                        <div class="col-md-11 form-group" id="calendar1">
                          <input type="text" class="form-control has-feedback-left" id="calender" placeholder="Date"
                            aria-describedby="inputSuccess2Status3" data-date-format="yyyy-mm-dd">
                          <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                          <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                        </div>
                        <!-- </div> -->
                        <!-- </div> -->
                      </fieldset>
                      <!-- </small> -->
                    </div>
                    <!-- /.col -->
                  </div>



                  <div class="row">
                    <div class="pull-right">
                      <button class="btn btn-success frm-btn" id="btn-save">Save</button>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <% include ../partials/footer %>

      </footer>
      <!-- /footer content -->
    </div>
  </div>



  <% include ../partials/scripts %>

  <!-- Custom Theme Scripts -->
  <!-- <script src="../build/js/receipt.js"></script> -->

</body>

</html>